:root {
    --fuenteHeading: 'Roboto', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #fcb941;
    --secundario: #222a42;
    --fondo: #272a30;
}
html {
    box-sizing: border-box;
    /* font-size: 62.5%; 1 rem = 10px     */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuenteParrafos);
    /* font-size: 1.6rem; */
    line-height: 2;
}

/** Globales **/
a {
    text-decoration: none;
}

h1 {
    font-family: var(--fuenteHeading);
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
}

p {
    font-family: var(--fuenteParrafos);
}

.active {
    color: var(--primario) !important;
    text-decoration: underline;
}

#logo_pag2 {
    width: min(800px, 80%);
    height: auto;
    margin: 0 auto;
}

video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer {
    background-color: var(--fondo);
    color: var(--primario);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 40px;
    text-align: center;
}

footer img {
    width: 50px;
    height: 50px;
    margin: 10px auto 0;
    display: inline-flex;
    border-radius: 50%;
}
